body {
    margin: 0% 10%;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body>h1 {
    text-align: left;
    background-color: black;
    color: lightgray;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
h2 {
    text-align: center;
    font-size: 30px;
}
.container {
    border: black 3px solid;
    padding: 40px;
    margin-bottom: 10px;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.magic{
    display: flex;
}
.basis {
    margin-left: 5px;
}
.likes{
    background-color: orange;
    box-shadow: black 3px 3px 3px;
    height: 30px;
    width: 80px;
}
.asides{
flex-grow: 1;    
display: flex;
justify-content: space-between;
}
.left {
    border: black 3px solid;
    height: 500px;
    width: 350px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 10px;
}
.avi {
    width: 70%;
}
.nombre {
    font-size: 30px;
    font-weight: bold;
}
.quotes {
    flex-grow: 3;
}
